<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/oflix.css') }}">
    {#
        Si on souhaite un stye spécifique pour une page donnée
        l'enfant pourra créer un bloc et y mettre son style à lui
    #}
    {% block css %}{% endblock %}
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/x-icon">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {# dump dans le HTML #}
    {# {{ dump(app.session.get('theme')) }} #}

    {# dump dans la Web Debug Toolbar #}
    {# {% dump app.session.get('theme') %} #}

    <!-- Nav -->
    {# @todo Gérer "text-dark" sur le titre et "btn-dark" sur le bouton Connexion #}
    {% if app.session.get('theme') == 'allocine' %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fecc00;">
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% endif %}
        <div class="container-fluid">
            <a href="{{ path('main_home') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('favicon.png') }}" height="24" alt="Logo O'flix">
                <span class="header-logo__title">O'flix</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% block nav_active_home %}{% endblock %}" href="{{ path('main_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block nav_active_movies %}{% endblock %}" href="{{ path('main_movies_list') }}"><i class="bi bi-film"></i> Films, séries TV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block nav_active_favorites %}{% endblock %}" href="{{ path('favorites_list') }}"><i class="bi bi-bookmark"></i> Ma liste</a>
                    </li>
                </ul>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                            <span>{{ app.user.email }}</span>
                            <i class="bi bi-person-square"></i>
                        </a>
                        <ul class="dropdown-menu">

                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="mb-1"><span class="ms-3 text-muted">Administrateur</span></li>
                            {% elseif is_granted('ROLE_MANAGER') %}
                            <li class="mb-1"><span class="ms-3 text-muted">Manager</span></li>
                            {% elseif is_granted('ROLE_USER') %}
                            <li class="mb-1"><span class="ms-3 text-muted">Utilisateur</span></li>
                            {% endif %}

                            {# Avec la hérarchie, MANAGER et ADMIN ont accès au back-office #}
                            {% if is_granted('ROLE_MANAGER') %}
                            <li><a class="dropdown-item" href="{{ path('back_movie_index') }}">Backoffice</a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('login_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>

                {% else %}

                <a href="{{ path('login_index') }}" class="btn btn-danger me-2">Connexion</a>

                {% endif %}

                <form class="d-flex" action="list.html">
                    <input class="form-control form-control-sm me-2" name="search" type="search"
                        placeholder="Rechercher...">
                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>

    {# @todo mettre la sous-nav dans le body + sous block container BS #}
    {# Block qui peut accueillir une navigation de second niveau #}
    {% block subnav %}{% endblock %}

    <div class="container">
        <div class="row">
            <div class="col">
            {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    {# Widget "Un film au hasard"" #}
    {% if randomMovie is defined %}
    <div class="text-center border-top pt-3">
        <p>Un film au hasard : <a href="{{ path('main_movie_show', {slug: randomMovie.slug}) }}">{{ randomMovie.title }}</a></p>
    </div>
    {% endif %}

    <!-- footer -->
    <footer class="container-fluid py-4 border-top text-center">
        <span class="text-muted">O'flix made with &hearts; at O'clock !
            <br><small>Thème :
            <a href="{{ path('main_theme_switcher') }}" class="link-secondary text-decoration-none">
                {# Attention avec la sessoin, bien vérifier ce qui se passe la première fois qu'on arrive sur le site #}
                {% if app.session.get('theme', 'netflix') == 'netflix' %}
                Allociné <i class="bi bi-toggle-on mx-1"></i> Netflix
                {% else %}
                Allociné <i class="bi bi-toggle-off mx-1"></i> Netflix
                {% endif %}
            </a></small>
        </span>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>