{% extends "base.html.twig" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block nav_active_movies %}active{% endblock %}

{% block body %}

<div class="container bg-lighttt pt-5">

    <div class="row mb-2">

        <div class="col">

            <div
                class="row g-0 borderrr rrrounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                <div class="col-4 movie__poster img-thumbnail"
                    style="background-image: url('{{ movie.poster }}');">
                    <img src="{{ asset('images/poster-placeholder.png') }}" class="img-fluid">
                </div>

                <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                    
                    {{ include('front/favorites/_toggle_button.html.twig') }}
                    
                    <strong class="d-inline-block mb-2 text-{% if movie.type == 'Film' %}primary{% else %}success{% endif %}">{{ movie.type }}</strong>
                    <h3 class="mb-1">{{ movie.title }}</h3>
                    <div class="mb-1 text-muted">{{ movie.duration }} min</div>
                    <p>
                        {# Les genres #}
                        {% for genre in movie.genres %}
                        <span class="badge bg-warning text-dark">{{ genre.name }}</span>
                        {% endfor %}
                    </p>
                    <p>{{ movie.synopsis }}</p>

                    {# Version de Simon #}
                    {% if movie.rating > 0 %}
                    <div class="d-flex" style="color: orange;">
                        {% set k = movie.rating %}
                        {% for i in range(1, movie.rating|round(0, 'floor')) %}
                            <i class="bi bi-star-fill"></i>
                            {% set k = k-1 %}
                        {% endfor %}
                        {% if k>0 %}
                        <i class="bi bi-star-half"></i>
                        {% endif %}
                        <span class="ps-1">{{ movie.rating }}</span>
                    </div>
                    {% endif %}

                    {# Version de Nicolas #}
                    <div class="d-flex" style="color: orange;">
                    {% for i in range(0, 4) %}
                        {% set starClass = movie.rating - i >= 1 ? '-fill' : (movie.rating - i >= 0.5 ? '-half' : '') %}
                        <span class="bi bi-star{{ starClass }}"></span>
                    {% endfor %}
                        <span class="ps-1">{{ movie.rating }}</span>
                    </div>

                    {# Pour les séries uniquement #}
                    {% if movie.type == 'Série' %}
                    <h2>{{ movie.seasons|length }} Saisons</h2>
                    <ul class="list-unstyled">
                        {% for season in movie.seasons %}
                        <li>
                            <span class="badge bg-danger fs-6 mb-2">Saison {{ season.number }}</span>
                            <small class="ms-1">({{ season.episodesNumber }} épisodes)</small>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {# Les acteurs #}
                    <dl class="row">
                        <dt class="col-sm-12">Avec</dt>
                        <dd class="col-sm-12">
                            {% for casting in castingsList %}
                            {{ casting.person.firstname }} {{ casting.person.lastname }} <i>({{ casting.role }})</i><br>
                            {% endfor %}
                        </dd>
                        <dt class="col-sm-12">Pays</dt>
                        <dd class="col-sm-12">USA</dd>
                        <dt class="col-sm-12">Année</dt>
                        <dd class="col-sm-12">{{ movie.releaseDate|date('Y') }}</dd>
                    </dl>

                    <h2>Critiques</h2>

                    <p><a class="btn btn-sm btn-warning" href="{{ path('main_movie_review_add', {id: movie.id}) }}">Ajouter une critique</a></p>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}